<%- include('../partials/header.ejs')%>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <%if(itemAgainst.items[0].trade.itemToTradeUser == user) {%>
          <form>
            <input type="hidden" id="startedTradeItemId" name="startedTradeItemId" value="<%= itemAgainst.items[0].trade.itemToTradeId%>">
            <td> <button type="submit" class=" btn btn-outline-dark btn-login" formmethod="POST" formaction="/trades/<%= itemAgainst.items[0]._id%>/itemOffer/cancel">Cancel Offer</button></td>
          </form>
        <%}
        else {%>
          <form>
            <input type="hidden" id="itemAgainstId" name="itemAgainstId" value="<%= itemAgainst.items[0]._id%>">
            <button type="submit" class=" btn btn-outline-dark btn-login" formmethod="POST" formaction="/trades/<%= itemAgainst.items[0].trade.itemTradedAgainstId%>/itemOffer/accept">Accept</button>
          </form>
          <form>
            
            <input type="hidden" id="startedTradeItemId" name="startedTradeItemId" value="<%= itemAgainst.items[0].trade.itemTradedAgainstId%>">
            <td> <button type="submit" class=" btn btn-outline-dark btn-login" formmethod="POST" formaction="/trades/<%= itemAgainst.items[0]._id%>/itemOffer/cancel">Cancel Offer</button></td>
          </form>
        <%}%>
    </div>
   
  </div>
<%- include('../partials/footer.ejs')%>