<%- include('../partials/header.ejs')%>
<h2>Welcome, <%= user.firstName + " " + user.lastName%></h2>
<h3>User Trades</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <%if(categoryItems.length > 0) {%>
            <%categoryItems.forEach(category => {%>
                    <tr>
                        <td><a href="/trades/<%= category.items._id%>?category=<%= category._id%>"><%= category.items.itemName%></a></td>
                        <td><%= category.items.status%></td>
                        <%if(category.items.status == "Pending" ) {%>
                       
                            <form>
                          
                              <td> <button type="submit" class=" btn btn-outline-dark btn-login" formmethod="POST" formaction="">Manage Trade</button></td>
                              </form>
                        <%}%>
                    </tr>
            <%})%>
        <%}%>

    </tbody>
  </table>

  <%if(loggedInUserStartedTrades.length > 0) {%>
    <h3>Items you started to trade</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item Name</th>
          <th scope="col">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
              <%loggedInUserStartedTrades.forEach(startedTrade => {%>
                      <tr>
                        <td><a href="/trades/<%= startedTrade.items._id%>?category=<%= startedTrade._id%>"><%= startedTrade.items.itemName%></a></td>
                          <td><%= startedTrade.items.status%></td>
                          <form>
                          <input type="hidden" id="startedTradeItemId" name="startedTradeItemId" value="<%= startedTrade.items.trade.itemTradedAgainstId%>">
                          <td> <button type="submit" class=" btn btn-outline-dark btn-login" formmethod="POST" formaction="/trades/<%= startedTrade.items._id%>/itemOffer/cancel">Cancel Offer</button></td>
                          </form>
                      </tr>
              <%})%>
          <%}%>
      </tbody>
    </table>

  
  <%if(watchList) {%>
    <%if(watchList.watchedItems.length > 0) {%>
  <h3>Watch List</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
            <%watchList.watchedItems.forEach(watchItem => {%>
                    <tr>
                        <td><%= watchItem.itemName%></td>
                        <form>
                          
                        <td> <button type="submit" class=" btn btn-outline-dark btn-login" formmethod="POST" formaction="/trades/<%= watchItem._id%>/unwatch">Unwatch</button></td>
                        </form>
                    </tr>
            <%})%>
        <%}%>
        <%}%>
    </tbody>
  </table>

<%- include('../partials/footer.ejs')%>